$blue400: #195ec8;
$gullgray: #97a9ba;
$magenta: #dc1245;
$blue900: #273044;
$grey900: #777777;
$grey800: #999999;
$grey700: #aaaaaa;
$grey400: #e0e0e0;
$grey300: #f0f4fa;
$grey200: #f0f2f5;
$grey100: #f2f6fb;
$white: white;
$green: #4ed7a8;
$red: #ff0000;
$golden: #f09b23;
$buttonHeight: 50px;
$buttonText: white;
$buttonPadding: 0 25px;
$stdFontSizeTitle: 55px;
$stdFontWeightTitle: 400;